<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Recuperación de Contraseña</title>
</head>

<body>
    <h1>Recuperación de Contraseña</h1>
    <p>El enlace para restablecer la contraseña ha expirado. Por favor, solicita uno nuevo.</p>
    <a href="/api/views/forgot-password">Solicitar Nueva Contraseña</a>
</body>

</html>
