<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Login</title>
</head>

<body>
    <div>
        <div>
            <h1>Inicia Sesi칩n!</h1>
            <a href="/api/session/github"><button>Ingres치 con Github</button></a>
            <form id="loginForm">
                <label>Correo Electronico</label>
                <input name="email">
                <br>
                <label>Contrase침a</label>
                <input name="password" type="password">
                <input type="submit" value="Iniciar sesi칩n">
            </form>
            <p>No te encuentras registrado? <a href="/api/views/register">Registrate!</a></p>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/login.js"></script>
</body>

</html>