<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Register</title>
</head>
<body>
<div>
        <h1>Registrate en Stor3D</h1>
        <form id="registerForm">
            <label>Nombre:</label>
            <input name="first_name">
            <label>Apellido:</label>
            <input name="last_name">
            <label>Email:</label>
            <input name="email">
            <label>Edad:</label>
            <input name="age">
            <label>Contraseña:</label>
            <input type="password" name="password">

            <input type="submit">

        </form>
        <p>¿Ya te encuentras registrado? <a href="/api/views/login">Inicia sesión!</a></p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/register.js"></script>
</body>
</html>