<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Restablecer Contrase単a</title>
</head>

<body>
    <h1>Restablecer Contrase単a</h1>
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
    <form action="/api/reset-password" method="POST">
        <label>Nueva Contrase単a:</label>
        <input type="password" name="password" required>
        <button type="submit">Restablecer Contrase単a</button>
        <input type="hidden" name="token" value="{{token}}">
    </form>
</body>

</html>
