<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Restablecimiento Exitoso</title>
</head>

<body>
    <h1>Restablecimiento Exitoso</h1>
    <p>Tu contraseña ha sido restablecida exitosamente.</p>
    <a href="/api/views/login">Iniciar Sesión</a>
</body>

</html>
